/* Reset some default styles */
body,
h1,
h2,
p,
ul {
    margin: 0;
    padding: 0;
}

/* Apply a simple background color to the body */
body {
    background-color: #ffee9a;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

/* Style the header */
header {
    font-family:'Courier New', Courier, monospace;
    background-color: #d7cc62;
    color: #000000;
    text-align: center;
    padding: 1em;
}

/* Style the navigation menu */
nav {
    background-color: #ebdf78;
    padding: 0.5em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    color: #fef;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 0.5em 1em;
}

/* Style the main content */
main {
    padding: 2em;
}

section {
    margin-bottom: 1.5em;
}

h4 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

/* Style the footer */
footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #d7cc62;
    color: #000000;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}